@font-face {
  font-family: pageFont;
  src: url("Dosis-Medium.ttf");
}
*{
  font-family: pageFont;
  color:white;
  font-size:20px;
}
.title{
  font-size: 60px;
}
.subtitle{
  font-size:30px;
}
body {
  height: 100%;
  text-align: center;
}
.desc{
  width:75%;
  font-size:18px;
  text-align:center;
  margin:auto;
}
#mainPage{
  background-color:cornflowerblue;
}
#xroadPage{
  background-color:#843645;
}
#agapePage{
  background-color:#85530E;
}
.pageLink{
  border: none;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  color:black;
}
.pageLink:hover{
  background-color:black;
  color:white;
  transition: 0.25s;
}