@font-face {
  font-family: pageFont;
  src: url("Dosis-Medium.ttf");
}
*{
  font-family: pageFont;
  font-size:20px;
}
.title{
  font-size: 60px;
}
.subtitle{
  font-size:30px;
}
body {
  height: 100%;
  text-align: center;
}
.desc{
  width:80%;
  font-size:18px;
  text-align:center;
  margin:auto;
}
#mainPage{
  background-color:cornflowerblue;
  color:white;
}
#xroadPage{
  background-color:#e8d4dc;
  color:black;
}
#agapePage{
  background-color:#85530E;
  color:white;
}
#jaycPage{
  background-color:#f7cc4c;
  color:black;
}
button{
  border: 2px;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  color:black;
  width:20%;
  transition: 0.5s;
}
button:hover{
  background-color:black;
  color:white;
}
.logo{
  margin-top:30px;
  max-width:300px;
}
@media only screen and (max-width:600px)
{
  .title{
    font-size:40px;
  }
  button{
    width:90%;
  }
}