@font-face{
	font-family: 'VCR';
   	src: url('font/VCR_OSD_MONO_1.001.ttf');
}
@font-face{
	font-family: 'Alien';
   	src: url('font/SFAlienEncounters.ttf');
}
@font-face{
	font-family: 'Rocket';
   	src: url('font/Rocket\ Rinder.otf');
}
#vcrFont{
	font-family: "VCR";
	font-size: 1pt;
}
#alienFont{
	font-family: "Alien";
	font-size: 1pt;
}
#titleFont{
	font-family: "Rocket";
	font-size: 1pt;
}
body{
	background-color:violet;
}
canvas{
	margin-top:50px;
	margin-bottom: auto;
    margin-left: auto;
	margin-right: auto;
	display: block;
}