#portfolio{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:palegreen;
}
.pageLink{
    border: none;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pageLink:hover{
    background-color:black;
    color:white;
    transition: 0.2s;
}