@font-face {
    font-family: mainFont;
    src: url("/src/Fonts/GodshineSansSemibold.otf");
}
@font-face {
    font-family: emphFont;
    src: url("/src/Fonts/StrawberryMuffins.ttf");
}
* {
    text-align: center;
    font-size: 20px;
    font-family: mainFont;
    opacity:1;
}
#secTitle{
    font-size: 70px;
    font-family: emphFont;
}
.demoArea{
    height: 500px;
    margin-top: 25px;
}
.chatFace{
    background-color:whitesmoke;
    margin: auto;
    border-style: solid;
    border-color:dimgray;
    border-width: 2px;
    width: 500px;
    height: 400px;
}
.textList{
    background-color:rgba(255,255,255,0.6);
    margin: auto;
    border-radius:50px;
    width: 80%;
    padding-top:10px;
    font-family: emphFont;
}
.commInput{
    border: none;
    border-radius: 40px;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    font-family: emphFont;
    transition:0.5s;
    width: 300px;
    height: 100px;
}
.commInput:hover{
    background-color: dimgrey;
    color: white;
    transition: 0.5s;
}
.otherLink {
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: emphFont;
}
.otherLink:hover{
    color: white;
    transition:0.3s;
}
.hyde{
    display: none;
}
.bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:lightsteelblue;
    background-image: url("/src/Images/CommunicationIssue.png");
    background-attachment: fixed;
}